<!--
<div class="row d-flex justify-content-end">
  <svg class="text-right" xmlns="http://www.w3.org/2000/svg" width="766.307" height="872.584" viewBox="0 0 766.307 872.584">
    <g id="Decore" transform="translate(-152 171)">
      <path id="Decore-2" data-name="Decore" d="M22.307,101c-16.833,61.333-40.4,201.2,0,270,50.5,86,170.5,67.5,196.5,107.5s-17,145.5,58,185.5,34,116.5,124.5,164c72.4,38,247.833,45.5,326.5,44.5l38.5-601L701.807,0Z" transform="translate(152 -171)" fill="#a9c90d"/>
    </g>
  </svg>
</div>
-->


<div class="header py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h5>Los mejores destinos alrededor de colombia</h5>
          <h1>Viaja, disfruta y vive </h1>
          <p class="text-lead">Con tu pasaporte amigo, descubrirás lugares únicos, vivirás experiencias inolvidables y
            disfrutarás de beneficios en cada paso que des en tu camino.</p>
          <button type="button" class="btn btn-warning my-4">Descubre más</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="text-muted text-center"><small>Categorías</small></div>
  </div>
  <div class="row justify-content-center">
    <h1 class="text-center">Actividades En Cajicá</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/256x256/tree.png" alt="Tree">
        <div class="card-body">
          <h5 class="card-title">Turismo rural</h5>
          <p class="card-text">Recorre los bellos paisajes de nuestro municipio</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/256x256/tree.png" alt="Tree">
        <div class="card-body">
          <h5 class="card-title">Turismo rural</h5>
          <p class="card-text">Recorre los bellos paisajes de nuestro municipio</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/256x256/tree.png" alt="Tree">
        <div class="card-body">
          <h5 class="card-title">Turismo rural</h5>
          <p class="card-text">Recorre los bellos paisajes de nuestro municipio</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/256x256/tree.png" alt="Tree">
        <div class="card-body">
          <h5 class="card-title">Turismo rural</h5>
          <p class="card-text">Recorre los bellos paisajes de nuestro municipio</p>
        </div>
      </div>
    </div>

  </div>
</div>
